In [284]:
import numpy as np
from numpy import linalg
import pandas as ps
import time

pi = np.pi
l1 = (13.4923571465048 + 1)/4
l2 = (92.769348921422 + 1)/4
l3 = (250.71889284 + 1)/4
l4 = (487.5996922776 + 1)/4

In [270]:
def model_function(l, N):
    L = N - 1
    h = 1/L
    b_l = l*h**2 + h - 2
    matrix = np.eye(N,N)*b_l
    
    # элементы трехдиагонали (l принадлежит [1, L-1])
    for i in range(1, L):
        matrix[i - 1][i] = 1 - h  # c_l
        matrix[i + 1][i] = 1      # a_l
    matrix[1][0] = 1              # a_l, l = 1
    matrix[L-1][L] = 1 - h           # c_l, l = L-1

    # оставшиеся элементы
    matrix[0][0] = 1          # b_0
    matrix[0][1] = 0          # c_0
    matrix[L][L] = -1         # b_L

    return np.linalg.det(matrix)

def alternate_function(l, N):
    L = N - 1
    h = 1/L
    x = np.linspace(0, 1, N)
    matrix = np.zeros((N,N))

    # элементы трехдиагонали (l принадлежит [1, L-1])
    for i in range(1, L):
        matrix[i][i] = 2*x[i]*h + l*h**2 - 2      # b_l
        matrix[i - 1][i] = 1 - 2*x[i]*h           # c_l
        matrix[i + 1][i] = 1                      # a_l
    matrix[1][0] = 1                              # a_l, l = 1
    matrix[L-1][L] = 1 - 2*x[L]*h                 # c_l, l = L-1

    # оставшиеся элементы
    matrix[0][0] = 1          # b_0
    matrix[0][1] = 0          # c_0
    matrix[L][L] = -1         # b_L

    return np.linalg.det(matrix)


def average(x, y):
    return (x+y)/2


def model_fun(w, q, N):
    if model_function(w, N) < 0:
        neg = w
        pos = q
    else:
        pos = w
        neg = q
    l = average(neg, pos) 
    i = 0
    while i < 60:
        if model_function(l, N) < 0:
            neg = l
        else:
            pos = l
        #print(i, neg, pos)
        l = average(neg, pos)
        i += 1
    return l


def alternate_fun(w, q, N):
    if model_function(w, N) < 0:
        neg = w
        pos = q
    else:
        pos = w
        neg = q
    l = average(neg, pos) 
    i = 0
    while i < 20:
        if alternate_function(l, N) < 0:
            neg = l
        else:
            pos = l
        #print(i, neg, pos)
        l = average(neg, pos)
        i += 1
    return l

def output(pos, neg):
    array1 = [161, 321, 641, 1281, 2561, 5121]
    array = np.zeros((2, len(array1)))
    for i in range(len(array1)):
        array[0][i] = model_fun(pos, neg, array1[i])
        array[1][i] = alternate_fun(pos, neg, array1[i])
    return ps.DataFrame(array, ['model', 'alternating'], array1)

In [260]:
l1

3.6230892866262

In [273]:
model_function(1, 11), model_function(10, 11), alternate_function(1, 11), alternate_function(10, 11)

(0.675639689038701, -0.603716976, 1.365841428245257, -0.4850204232758069)

In [272]:
model_fun(1, 10, 11), alternate_fun(1, 10, 11)

(3.7959383661020087, 5.913382053375244)

#### $ \lambda_{1} \approx 3.6230892866262 $

In [288]:
output(1, 10)

                 161       321       641       1281      2561      5121
model        3.634386  3.628744  3.625918  3.624504  3.623797  3.623443
alternating  5.617592  5.607267  5.602100  5.599508  5.598212  5.597568

In [274]:
l2

23.4423372303555

In [275]:
model_function(20, 11), model_function(30, 11), alternate_function(20, 11), alternate_function(30, 11)

(-0.27419660199999935, 0.352009072, -0.3866365253766349, 0.2262626896026011)

In [276]:
model_fun(20, 30, 11), alternate_fun(20, 30, 11)

(24.104562612483235, 26.21168613433838)

#### $ \lambda_{2} \approx 23.4423372303555 $

In [292]:
output(20, 30)

                  161        321        641        1281       2561       5121
model        23.513872  23.478537  23.460545  23.451468  23.446909  23.444625
alternating  25.599856  25.559306  25.538611  25.528169  25.522914  25.520291

In [277]:
l3

62.92972321

In [278]:
model_function(60, 11), model_function(70, 11), alternate_function(60, 11), alternate_function(70, 11)

(0.10747347399999883,
 -0.3272101920000011,
 0.18015526739509188,
 -0.24058353777901656)

In [279]:
model_fun(60, 70, 11), alternate_fun(60, 70, 11)

(62.371053312833325, 64.21123027801514)

#### $ \lambda_{3} \approx 62.92972321$

In [289]:
output(60, 70)

                  161        321        641        1281       2561       5121
model        63.113577  63.024866  62.978093  62.954107  62.941965  62.935856
alternating  65.204291  65.110974  65.061631  65.036292  65.023456  65.016999

In [286]:
l4

122.1499230694

In [282]:
model_function(110, 11), model_function(130, 11), alternate_function(110, 11), alternate_function(130, 11)

(-0.17751937599999834,
 0.5539583520000011,
 -0.22095489214840708,
 0.48499275138728004)

In [287]:
model_fun(110, 140, 11), alternate_fun(110, 140, 11)

(114.51777103356636, 115.9792947769165)

#### $ \lambda_{4} \approx 122.1499230694$

In [290]:
output(110, 130)

,161,321,641,1281,2561,5121
model,122.483023,122.328684,122.242335,122.196884,122.173592,122.161805
alternating,124.573679,124.415770,124.327097,124.280348,124.256372,124.244242

### Модельная задача:

#### $ \left\{\begin{matrix}
y'' - y' + \lambda y = 0 \\ 
y(0) = y'(1) = 0
\end{matrix}\right. $


#### Разностная схема:
$ \left\{\begin{matrix}
y_{0} = 0
\\
\frac{y_{l+1} - 2y_{l} + y_{l-1}}{h^{2}} + \frac{y_{l} - y_{l-1}}{h} + \lambda y_{l} = 0
\\ 
\frac{y_{L} - y_{L-1}}{h} = 0
\end{matrix}\right. $

#### Аппроксимация:
$ y_{i\pm 1} = [y]_{i} \pm h[y']_{i} + \frac{h^{2}}{2}[y'']_{i} \pm \frac{h^{3}}{6}[y''']_{i} + \frac{h^{4}}{24}[y^{IV}]_{i} + O(h^{5}) $ 

#### Невязка: 

$ r_{h} = [y'']_{i} +  \frac{h^{2}}{12}[y^{IV}]_{i} + O(h^{3}) - ([y']_{i} + \frac{h}{2}[y'']_{i} + O(h^{2})) + \lambda [y]_{i} = -\frac{h}{2}[y'']_{i} + O(h^{2}) \Rightarrow $ аппроксимация разностной схемы первого порядка

### Задача с переменными коэффициентами:

#### $ \left\{\begin{matrix}
y'' - 2xy' + \lambda y = 0 \\ 
y(0) = y'(1) = 0
\end{matrix}\right. $

#### Разностная схема:
#### $  \left\{\begin{matrix}
y_{0} = 0
\\
\frac{y_{l+1} - 2y_{l} + y_{l-1}}{h^{2}} + 2x_{l} \frac{y_{l+1} - y_{l}}{h} +  \lambda y_{l} = 0
\\ 
\frac{y_{L} - y_{L-1}}{h} = 0
\end{matrix}\right. $

#### Аппроксимация:
#### $ y_{i\pm 1} = [y]_{i} \pm h[y']_{i} + \frac{h^{2}}{2}[y'']_{i} \pm \frac{h^{3}}{6}[y''']_{i} + \frac{h^{4}}{24}[y^{IV}]_{i} + O(h^{5}) $ 

#### Невязка: 
$ r_{h} = [y'']_{i} +  \frac{h^{2}}{12}[y^{IV}]_{i} + O(h^{3}) - 2x_{l}([y']_{i} + \frac{h}{2}[y'']_{i} + O(h^{2})) + \lambda [y]_{i} = -2x_{l}\frac{h}{2}[y'']_{i} + \frac{h^{2}}{12}[y^{IV}]_{i} + O(h^{2}) \Rightarrow $ аппроксимация разностной схемы первого порядка