## Лабораторная работа №5
### Задача: 
### $ \left\{\begin{matrix}
\frac{\partial u}{\partial t} = \frac{\partial}{r \partial r}(ru^{2} \frac{\partial u}{\partial r}) + \frac{\partial }{r^{2}\partial \varphi} (u^{2} \frac{\partial u}{\partial \varphi }), \\
t>0, \hspace{5pt} r\leq 1, \hspace{5pt} 0<\varphi <\frac{\pi }{2}; \\
u(0, r, \varphi) = r cos \varphi\frac{1}{\sqrt{5}}, \hspace{5pt} 0\leq r\leq 1, \hspace{5pt} 0\leq \varphi \leq \frac{\pi}{2}; \\
u(t, 0, \varphi) = 0, \hspace{5pt} 0 < t\leq 1, \hspace{5pt} 0\leq \varphi \leq \frac{\pi}{2}; \\
u(t, 1, \varphi) = cos \varphi\frac{1}{\sqrt{5 - 4t}}, \hspace{5pt} 0< t \leq 1, \hspace{5pt} 0\leq \varphi \leq \frac{\pi}{2}; \\
u(t, r, 0) = r \frac{1}{\sqrt{5 - 4t}}, \hspace{5pt} 0 < t \leq 1, \hspace{5pt} 0 < r < 1; \\
u(t, r, \frac{\pi }{2}) = 0, \hspace{5pt} 0 < t \leq 1, \hspace{5pt} 0 < r < 1; \\
\end{matrix}\right. $
    
### Аналитическое решение: 
### $ u = r cos \varphi \frac{1}{\sqrt{5 - 4t} }$

### Сетка:
### $ D_h = \begin{Bmatrix} 
(r_l, \varphi _m, t^n): r_l = h_r l, l = \overline{0, L}, h_r L = 1; \\ \varphi _m = h_\varphi  m, l = \overline{0, M}, h_\varphi  M = \frac{\pi }{2}; \\ t^n = n\tau, n = \overline{0, N}, \tau  N = \frac{5}{4} - \Delta , \Delta = const;
\end{Bmatrix}  $
    
### Разностная схема: 
### $ \left\{\begin{matrix}
\frac{\tilde{u}_{l,m} - u^{n}_{l,m}}{\tau} = \frac{r_{l+\frac{1}{2}}[(u^k_{l+1,m})^\mu + (u^k_{l,m})^\mu](\tilde{u}_{l+1,m} - \tilde{u}_{l,m})}{2r_lh^2_r} - \frac{r_{l-\frac{1}{2}}[(u^k_{l,m})^\mu + (u^k_{l-1,m})^\mu](\tilde{u}_{l,m} - \tilde{u}_{l-1,m})}{2r_lh^2_r}, \hspace{5pt} l = \overline{1, L - 1}, \hspace{5pt} m = \overline{1, M - 1} \\
\tilde{u}_{0,m} = 0, \hspace{5pt} \tilde{u}_{L,m} = cos \varphi _m\frac{1}{\sqrt{5-4t^{n+1}}}, \hspace{5pt} m = \overline{0, M} \\
\end{matrix}\right. $
### $ \left\{\begin{matrix}
\frac{u^{k+1}_{l,m} - \tilde{u}_{l,m}}{\tau} = \frac{[(u^k_{l,m+1})^\mu + (u^k_{l,m})^\mu](u^{k+1}_{l,m+1} - u^{k+1}_{l,m})}{2r_l^2 h^2_r} - \frac{[(u^k_{l,m})^\mu + (u^k_{l,m-1})^\mu](u^{k+1}_{l,m} - u^{k+1}_{l,m-1})}{2r^2_l h^2_r}, \hspace{5pt} l = \overline{1, L - 1}, \hspace{5pt} m = \overline{1, M - 1} \\ 
u^{k+1}_{l,0} = r_l \frac{1}{\sqrt{5 - 4t^{n+1}}}, \hspace{5pt} u^{k+1}_{l,M} = 0, \hspace{5pt} l = \overline{0, L - 1}, \\
k = \overline{n, J}, J = min(k): \displaystyle \max_{l,m} \left| \frac{u^{k+1}_{l,m} - u^k_{l,m}}{u^{k+1}_{l,m}}  \right| \leq \varepsilon = 10^{-4}, \\
u^{n+1}_{l,m} = u^{J+1}_{l,m}, \hspace{5pt} l = \overline{1, L-1}, \hspace{5pt} m = \overline{1, M-1}, \hspace{5pt} n = \overline{0, N-1}, \\
u^0_{l,m} = r cos\varphi _m, \hspace{5pt} l = \overline{0,L}, \hspace{5pt} m = \overline{0, M}
\end{matrix}\right.$

In [ ]:
import numpy as np
import pandas as ps

def ansol(r, phi, t):   # вывод аналитического решения
    array = np.zeros((len(phi), len(r)))
    for m in range(len(phi)):
        for l in range(len(r)):
            array[m][l] = r[l]*np.cos(phi[m])/np.sqrt(5 - 4*t)
    return array

def table(array, x=None, y=None):                 # для вывода таблицы с ответом
    return ps.DataFrame(array, y, x)

In [113]:
def solver(L, M, N):
    
    print('L = ' + str(L), ', M = ' + str(M), ', N = ' + str(N))
    
    mu = 2
    Ct = 5
    epsilon = 10**-4
    T = 1
    
    h_r = 1/L              # 0 <=  r  <= 1
    h_phi = np.pi/2 / M    # 0 <= phi <= pi/2
    tau = T/N              # 0 <=  t  <= T
    
    r = np.linspace(0, 1, L + 1)
    phi = np.linspace(0, np.pi/2, M + 1)
    t = np.linspace(0, T, N + 1)
    
    u_n = ansol(r, phi, 0)  # u при t = 0
    
    for n in range(N):

        u_k = u_n                         # u_k
        u_tilda = np.ones(u_k.shape)      # u_tilda
        u_k_plus_1 = np.ones(u_k.shape)   # u_k+1

        condition = 1

        while (condition > epsilon):
            
            # первая прогонка

            u_tilda[0, :] = r/np.sqrt(5 - 4*t[n + 1])
            u_tilda[M, :] = 0

            r = np.linspace(0, 1, L*2 + 1) # удвоение для подсчета коэфов

            for m in range(1, M):

                # заполнение a, b, c, d

                a = np.zeros(L + 1)
                b = np.zeros(L + 1)
                c = np.zeros(L + 1)
                d = np.zeros(L + 1)

                b[0] = 1      
                d[0] = 0      
                b[L] = 1      
                d[L] = np.cos(phi[m])/np.sqrt(5 - 4*t[n + 1]) 

                for l in range(1, L):
                    c[l] = -r[2*l + 1]*(u_k[m, l + 1]**mu + u_k[m, l]**mu)*tau/(2*r[2*l]*h_r**2)
                    a[l] = -r[2*l - 1]*(u_k[m, l]**mu + u_k[m, l - 1]**mu)*tau/(2*r[2*l]*h_r**2)
                    b[l] = 1 - a[l] - c[l]
                    d[l] = u_n[m, l]          

                # прямая прогонка

                alpha = np.zeros(L)
                beta = np.zeros(L)

                alpha[0] = -c[0]/b[0]
                beta[0] = d[0]/b[0]

                for i in range(1, L):
                    alpha[i] = -c[i]/(b[i] + a[i]*alpha[i - 1])
                    beta[i] = (d[i] - a[i]*beta[i - 1])/(b[i] + a[i]*alpha[i - 1])

                # обратная прогонка

                u_tilda[m, L] = (d[L] - a[L]*beta[L - 1])/(alpha[L - 1]*a[L] + b[L])

                for l in range(-(L - 1), 1):
                    u_tilda[m, int(np.fabs(l))] = alpha[int(np.fabs(l))]*u_tilda[m, int(np.fabs(l)) + 1] + beta[int(np.fabs(l))]


            # вторая прогонка

            u_k_plus_1[:, 0] = 0
            u_k_plus_1[:, L] = np.cos(phi)/np.sqrt(5 - 4*t[n + 1])

            for l in range(1, L):

                # заполнение a, b, c, d

                a = np.zeros(M + 1)
                b = np.zeros(M + 1)
                c = np.zeros(M + 1)
                d = np.zeros(M + 1) 

                b[0] = 1  
                d[0] = r[2*l]/np.sqrt(5 - 4*t[n+1])
                b[M] = 1
                d[M] = 0

                for m in range(1, M):
                    c[m] = -(u_k[m + 1, l]**mu + u_k[m, l]**mu)*tau/(2*r[2*l]**2*h_phi**2)
                    a[m] = -(u_k[m, l]**mu + u_k[m - 1, l]**mu)*tau/(2*r[2*l]**2*h_phi**2)
                    b[m] = 1 - a[m] - c[m]
                    d[m] = u_tilda[m, l]    

                # прямая прогонка

                alpha = np.zeros(M)
                beta = np.zeros(M)

                alpha[0] = -c[0]/b[0]
                beta[0] = d[0]/b[0]

                for i in range(1, M):
                    alpha[i] = -c[i]/(b[i] + a[i]*alpha[i - 1])
                    beta[i] = (d[i] - a[i]*beta[i - 1])/(b[i] + a[i]*alpha[i - 1])

                # обратная прогонка

                u_k_plus_1[M, l] = (d[M] - a[M]*beta[M - 1])/(alpha[M - 1]*a[M] + b[M])

                for m in range(-(M - 1), 1):
                    u_k_plus_1[int(np.fabs(m)), l] = alpha[int(np.fabs(m))]*u_k_plus_1[int(np.fabs(m)) + 1, l] + beta[int(np.fabs(m))]

            r = np.linspace(0, 1, L + 1)
            
            condition = max(map(max, np.fabs((u_k_plus_1[1 : u_k_plus_1.shape[0] - 1, 1 : u_k_plus_1.shape[1] - 1] - u_k[1 : u_k.shape[0] - 1, 1 : u_k.shape[1] - 1])/u_k_plus_1[1 : u_k_plus_1.shape[0] - 1, 1 : u_k_plus_1.shape[1] - 1])))
            u_k = u_k_plus_1
        u_n = u_k_plus_1
        
    u_analytical = ansol(r, phi, T)
    u_numerical = u_n
    substract = np.fabs(u_analytical - u_numerical)
    
    df_analytical = table(u_analytical, r, phi)
    df_analytical = df_analytical.iloc[::int(np.pi/2/5/h_phi), ::int(0.2/h_r)]
    df_numerical = table(u_numerical, r, phi)
    df_numerical = df_numerical.iloc[::int(np.pi/2/5/h_phi), ::int(0.2/h_r)]
    df_substract = table(substract, r, phi)
    df_substract = df_substract.iloc[::int(np.pi/2/5/h_phi), ::int(0.2/h_r)]
    
    return df_analytical, df_numerical, df_substract

### Ответ при t = 1:

Аналитическое решение:

In [114]:
solver(10, 10, 20)[0]

L = 10 , M = 10 , N = 20

,0.0,0.2,0.4,0.6,0.8,1.0
0.000000,0.0,2.000000e-01,4.000000e-01,6.000000e-01,8.000000e-01,1.000000e+00
0.314159,0.0,1.902113e-01,3.804226e-01,5.706339e-01,7.608452e-01,9.510565e-01
0.628319,0.0,1.618034e-01,3.236068e-01,4.854102e-01,6.472136e-01,8.090170e-01
0.942478,0.0,1.175571e-01,2.351141e-01,3.526712e-01,4.702282e-01,5.877853e-01
1.256637,0.0,6.180340e-02,1.236068e-01,1.854102e-01,2.472136e-01,3.090170e-01
1.570796,0.0,1.224647e-17,2.449294e-17,3.673940e-17,4.898587e-17,6.123234e-17

Численное решение:

In [118]:
solver(10, 10, 20)[1]

L = 10 , M = 10 , N = 20

          0.0       0.2       0.4       0.6       0.8           1.0
0.000000  0.0  0.200000  0.400000  0.600000  0.800000  1.000000e+00
0.314159  0.0  0.198621  0.389128  0.575558  0.757263  9.510565e-01
0.628319  0.0  0.172528  0.335431  0.495337  0.652546  8.090170e-01
0.942478  0.0  0.127304  0.246933  0.366000  0.485739  5.877853e-01
1.256637  0.0  0.068054  0.131998  0.196725  0.263606  3.090170e-01
1.570796  0.0  0.000000  0.000000  0.000000  0.000000  6.123234e-17

Погрешность:

In [119]:
solver(10, 10, 20)[2]

L = 10 , M = 10 , N = 20

          0.0           0.2           0.4           0.6           0.8  1.0
0.000000  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
0.314159  0.0  8.409746e-03  8.705121e-03  4.923744e-03  3.582235e-03  0.0
0.628319  0.0  1.072478e-02  1.182392e-02  9.926590e-03  5.331922e-03  0.0
0.942478  0.0  9.746733e-03  1.181897e-02  1.332845e-02  1.551067e-02  0.0
1.256637  0.0  6.250869e-03  8.391560e-03  1.131526e-02  1.639258e-02  0.0
1.570796  0.0  1.224647e-17  2.449294e-17  3.673940e-17  4.898587e-17  0.0

Численное решение:

In [120]:
solver(20, 20, 80)[1]

L = 20 , M = 20 , N = 80

          0.0       0.2       0.4       0.6       0.8           1.0
0.000000  0.0  0.200000  0.400000  0.600000  0.800000  1.000000e+00
0.314159  0.0  0.192494  0.382991  0.572059  0.759221  9.510565e-01
0.628319  0.0  0.164716  0.326918  0.488071  0.648537  8.090170e-01
0.942478  0.0  0.120154  0.238321  0.356251  0.474600  5.877853e-01
1.256637  0.0  0.063384  0.125822  0.188462  0.251707  3.090170e-01
1.570796  0.0  0.000000  0.000000  0.000000  0.000000  6.123234e-17

Погрешность:

In [121]:
solver(20, 20, 80)[2]

L = 20 , M = 20 , N = 80

          0.0           0.2           0.4           0.6           0.8  1.0
0.000000  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
0.314159  0.0  2.283133e-03  2.568331e-03  1.425390e-03  1.624217e-03  0.0
0.628319  0.0  2.912107e-03  3.311413e-03  2.660776e-03  1.323891e-03  0.0
0.942478  0.0  2.597296e-03  3.207059e-03  3.580150e-03  4.371934e-03  0.0
1.256637  0.0  1.580309e-03  2.215476e-03  3.051716e-03  4.493370e-03  0.0
1.570796  0.0  1.224647e-17  2.449294e-17  3.673940e-17  4.898587e-17  0.0

Численное решение:

In [122]:
solver(40, 40, 320)[1]

L = 40 , M = 40 , N = 320

          0.0       0.2       0.4       0.6       0.8           1.0
0.000000  0.0  0.200000  0.400000  0.600000  0.800000  1.000000e+00
0.314159  0.0  0.190794  0.381101  0.571015  0.760344  9.510565e-01
0.628319  0.0  0.162548  0.324466  0.486091  0.647548  8.090170e-01
0.942478  0.0  0.118216  0.235935  0.353590  0.471377  5.877853e-01
1.256637  0.0  0.062197  0.124167  0.186191  0.248374  3.090170e-01
1.570796  0.0  0.000000  0.000000  0.000000  0.000000  6.123234e-17

Погрешность:

In [123]:
solver(40, 40, 320)[2]

L = 40 , M = 40 , N = 320

          0.0           0.2           0.4           0.6           0.8  1.0
0.000000  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
0.314159  0.0  5.830471e-04  6.788676e-04  3.806875e-04  5.010661e-04  0.0
0.628319  0.0  7.445339e-04  8.596115e-04  6.803945e-04  3.348227e-04  0.0
0.942478  0.0  6.594040e-04  8.212184e-04  9.186675e-04  1.148374e-03  0.0
1.256637  0.0  3.940066e-04  5.601891e-04  7.809303e-04  1.160819e-03  0.0
1.570796  0.0  1.224647e-17  2.449294e-17  3.673940e-17  4.898587e-17  0.0

Численное решение:

In [124]:
solver(80, 80, 1280)[1]

L = 80 , M = 80 , N = 1280

          0.0       0.2       0.4       0.6       0.8           1.0
0.000000  0.0  0.200000  0.400000  0.600000  0.800000  1.000000e+00
0.314159  0.0  0.190358  0.380595  0.570731  0.760711  9.510565e-01
0.628319  0.0  0.161991  0.323824  0.485581  0.647298  8.090170e-01
0.942478  0.0  0.117722  0.235321  0.352903  0.470520  5.877853e-01
1.256637  0.0  0.061902  0.123747  0.185607  0.247507  3.090170e-01
1.570796  0.0  0.000000  0.000000  0.000000  0.000000  6.123234e-17

Погрешность:

In [125]:
solver(80, 80, 1280)[2]

L = 80 , M = 80 , N = 1280

          0.0           0.2           0.4           0.6           0.8  1.0
0.000000  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.0
0.314159  0.0  1.465447e-04  1.721947e-04  9.685742e-05  1.344664e-04  0.0
0.628319  0.0  1.871522e-04  2.169354e-04  1.708677e-04  8.435196e-05  0.0
0.942478  0.0  1.654341e-04  2.064864e-04  2.314935e-04  2.922236e-04  0.0
1.256637  0.0  9.838198e-05  1.403976e-04  1.966604e-04  2.937040e-04  0.0
1.570796  0.0  1.224647e-17  2.449294e-17  3.673940e-17  4.898587e-17  0.0

In [47]:
ps.DataFrame.iloc??

In [76]:
mu = 2
tau = 0.1
h_r = 0.01
h_phi = np.pi/200
N = int(1/tau)
L = int(1/h_r)
M = int(np.pi/2/h_phi)
t = np.linspace(0, 1, N + 1)
r = np.linspace(0, 1, L + 1)
phi = np.linspace(0, np.pi/2, M + 1)
eps = 10**-2
u_analytical = ansol(r, phi, 0)
u_n = u_analytical  # u при t = 0
k = 0

for n in range(N):
    
    k = 0
    #print('n = ' + str(n))
    u_k = u_n                        # u_k
    u_tilda = np.ones(u_k.shape)      # u_tilda
    u_k1 = np.ones(u_k.shape)         # u_k+1
    
    if n == 1000:
        print('u0:')
        print(table(u_k))
        print('u2:')
        print(table(u_k1))
        
    condition = 1
    
    while (condition > eps):
        #print('k = ' + str(k))
        
        # первая прогонка
        
        u_tilda[0, :] = r/np.sqrt(5 - 4*t[n + 1])
        u_tilda[M, :] = 0
        
        r = np.linspace(0, 1, L*2 + 1) # удвоение для подсчета коэфов
        
        for m in range(1, M):
            
            # заполнение a, b, c, d
            
            a = np.zeros(L + 1)
            b = np.zeros(L + 1)
            c = np.zeros(L + 1)
            d = np.zeros(L + 1)

            b[0] = 1  # a[0] = 0, c[0] = 0
            d[0] = 0  # = u[0][m]
            b[L] = 1  # a[L] = 0
            d[L] = np.cos(phi[m])/np.sqrt(5 - 4*t[n + 1]) 
            
            for l in range(1, L):
                a[l] = -r[2*l + 1]*(u_k[m, l + 1]**mu + u_k[m, l]**mu)*tau/(2*r[2*l]*h_r**2)
                c[l] = -r[2*l - 1]*(u_k[m, l]**mu + u_k[m, l - 1]**mu)*tau/(2*r[2*l]*h_r**2)
                b[l] = 1 - a[l] - c[l]
                d[l] = u_n[m, l]          
            
            # прямая прогонка
            
            alpha = np.zeros(L)
            beta = np.zeros(L)
            
            alpha[0] = -c[0]/b[0]
            beta[0] = d[0]/b[0]
            
            for i in range(1, L):
                alpha[i] = -c[i]/(b[i] + a[i]*alpha[i - 1])
                beta[i] = (d[i] - a[i]*beta[i - 1])/(b[i] + a[i]*alpha[i - 1])

            # обратная прогонка
            
            u_tilda[m, L] = (d[L] - a[L]*beta[L - 1])/(alpha[L - 1]*a[L] + b[L])
            
            for l in range(-(L - 1), 1):
                u_tilda[m, int(np.fabs(l))] = alpha[int(np.fabs(l))]*u_tilda[m, int(np.fabs(l)) + 1] + beta[int(np.fabs(l))]
                
                
        # вторая прогонка
        
        u_k1[:, 0] = 0
        u_k1[:, L] = np.cos(phi)/np.sqrt(5 - 4*t[n + 1])
        
        for l in range(1, L):
            
            # заполнение a, b, c, d
            
            a = np.zeros(M + 1)
            b = np.zeros(M + 1)
            c = np.zeros(M + 1)
            d = np.zeros(M + 1) 

            b[0] = 1  
            d[0] = r[2*l]/np.sqrt(5 - 4*t[n+1])
            b[M] = 1
            d[M] = 0
            
            for m in range(1, M):
                a[m] = -(u_k[m + 1, l]**mu + u_k[m, l]**mu)*tau/(2*r[2*l]**2*h_phi**2)
                c[m] = -(u_k[m, l]**mu + u_k[m - 1, l]**mu)*tau/(2*r[2*l]**2*h_phi**2)
                b[m] = 1 - a[m] - c[m]
                d[m] = u_tilda[m, l]    

            # прямая прогонка
            
            alpha = np.zeros(M)
            beta = np.zeros(M)
            
            alpha[0] = -c[0]/b[0]
            beta[0] = d[0]/b[0]
            
            for i in range(1, M):
                alpha[i] = -c[i]/(b[i] + a[i]*alpha[i - 1])
                beta[i] = (d[i] - a[i]*beta[i - 1])/(b[i] + a[i]*alpha[i - 1])

            # обратная прогонка
            
            u_k1[M, l] = (d[M] - a[M]*beta[M - 1])/(alpha[M - 1]*a[M] + b[M])
            
            for m in range(-(M - 1), 1):
                u_k1[int(np.fabs(m)), l] = alpha[int(np.fabs(m))]*u_k1[int(np.fabs(m)) + 1, l] + beta[int(np.fabs(m))]
            
        r = np.linspace(0, 1, L + 1)
        k += 1
        #print('u0:')
        #print(table(u_k))
        #print('u2:')
        #print(table(u_k1))
        condition = max(map(max, np.fabs((u_k1[1 : u_k1.shape[0] - 1, 1 : u_k1.shape[1] - 1] - u_k[1 : u_k.shape[0] - 1, 1 : u_k.shape[1] - 1])/u_k1[1 : u_k1.shape[0] - 1, 1 : u_k1.shape[1] - 1])))
        u_k = u_k1
    u_n = u_k1
#table(u_n-ansol(r, phi, 1))
max(map(max,np.fabs(u_n-ansol(r, phi, 1))))

0.439501678455932

In [44]:
solver(100, 99, 10, 1, 10**-2)

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0.0,0.010000,0.020000,0.030000,0.040000,0.050000,0.060000,0.070000,0.080000,0.090000,...,0.910000,0.920000,0.930000,0.940000,0.950000,0.960000,0.970000,0.980000,0.990000,1.000000e+00
1,0.0,0.008965,0.018010,0.027050,0.036086,0.045119,0.054151,0.063182,0.072212,0.081242,...,0.874179,0.887018,0.900010,0.913146,0.926414,0.939799,0.953282,0.966843,0.980458,9.998741e-01
2,0.0,0.008120,0.016373,0.024618,0.032855,0.041088,0.049319,0.057548,0.065777,0.074004,...,0.841169,0.856420,0.871995,0.887882,0.904061,0.920507,0.937189,0.954069,0.971106,9.994965e-01
3,0.0,0.007420,0.015008,0.022586,0.030154,0.037718,0.045278,0.052836,0.060393,0.067949,...,0.810666,0.827966,0.845771,0.864070,0.882842,0.902058,0.921677,0.941652,0.961924,9.988673e-01
4,0.0,0.006833,0.013857,0.020870,0.027872,0.034869,0.041861,0.048852,0.055841,0.062829,...,0.782408,0.801446,0.821176,0.841589,0.862670,0.884390,0.906707,0.929565,0.952897,9.979867e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.000213,0.000427,0.000640,0.000854,0.001067,0.001280,0.001494,0.001707,0.001921,...,0.019441,0.019679,0.019946,0.020278,0.020755,0.021553,0.023057,0.026132,0.032907,6.342392e-02
96,0.0,0.000160,0.000320,0.000480,0.000641,0.000801,0.000961,0.001121,0.001281,0.001441,...,0.014576,0.014739,0.014907,0.015092,0.015322,0.015684,0.016412,0.018160,0.022812,4.758192e-02
97,0.0,0.000107,0.000214,0.000320,0.000427,0.000534,0.000641,0.000748,0.000855,0.000961,...,0.009720,0.009827,0.009934,0.010041,0.010151,0.010280,0.010505,0.011160,0.013658,3.172793e-02
98,0.0,0.000053,0.000107,0.000160,0.000214,0.000267,0.000321,0.000374,0.000427,0.000481,...,0.004862,0.004915,0.004968,0.005022,0.005075,0.005127,0.005175,0.005247,0.005856,1.586596e-02
99,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.123234e-17

In [53]:
t = table(phi)
t

           0
0   0.000000
1   0.157080
2   0.314159
3   0.471239
4   0.628319
5   0.785398
6   0.942478
7   1.099557
8   1.256637
9   1.413717
10  1.570796

In [54]:
t.iloc[::int(np.pi/2/5/h_phi)]

           0
0   0.000000
2   0.314159
4   0.628319
6   0.942478
8   1.256637
10  1.570796

In [41]:
h_r = 0.01
h_phi = np.pi/200
N = int(1/tau)
L = int(1/h_r)
M = np.pi/2/h_phi
M

99.99999999999999

In [14]:
a = np.array([[1,2,3,4],[4,5,6,7],[7,8,9,10],[11,12,13,14]])
a[1,2] = 6
def f(x):
    return x*2
b = np.array([2,3])
#a[:, 0] = 0

In [30]:
L = 10
h = 1/L
h

0.1

In [71]:
c = a[1:a.shape[0]-1,1:a.shape[1]-1]
c.shape

(2, 2)

In [16]:
a[1, :] = 0
a

array([[ 1,  2,  3,  4],
       [ 0,  0,  0,  0],
       [ 7,  8,  9, 10],
       [11, 12, 13, 14]])

In [11]:
a = np.linspace(0, 1, 11)
a

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [5]:
b = np.linspace(0,1,21)
b

array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 ,
       0.55, 0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  ])

In [13]:
mu = 2
tau = 0.1
h_r = 0.1
h_phi = np.pi/20
N = int(1/tau)
L = int(1/h_r)
M = int(np.pi/2/h_phi)
t = np.linspace(0, 1, N + 1)
r = np.linspace(0, 1, L + 1)
phi = np.linspace(0, np.pi/2, M + 1)
eps = 10**-3

while (max(map(max, matrix)) > eps):
u_n = ansol(r, phi, 0)
u0 = u_n                  # u_k
u1 = np.zeros(u0.shape)   # u_tilda
u2 = np.zeros(u0.shape)   # u_k+1


r = np.linspace(0, 1, L*2 - 1)
# первая прогонка
for m in range(1, M - 1):
    a = np.zeros(L)
    b = np.zeros(L)
    c = np.zeros(L)
    d = np.zeros(L)
    
    b[0] = 1  # a[0] = 0, c[0] = 0
    d[0] = 0  # = u[0][m]
    
    for l in range(1, L + 1):
        a[l] = -r[2*l + 1]*(u0[m][l + 1]**mu + u0[m][l]**mu)*tau/(2*r[2*l]*h_r**2)
        c[l] = -r[2*l - 1]*(u0[m][l]**mu + u0[m][l - 1]**mu)*tau/(2*r[2*l]*h_r**2)
        b[l] = 1 - a[l] - c[l]
        d[l] = u_n[m][l]
    
    # прямая прогонка
    alpha = np.zeros(L)
    beta = np.zeros(L)
    alpha[0] = -c[0]/b[0]
    beta[0] = d[0]/b[0]
    for i in range(1, L - 1):
        alpha[i] = -c[i]/(b[i] + a[i]*alpha[i - 1])
        beta[i] = (d[i] - a[i]*beta[i - 1])/(b[i] + a[i]*alpha[i - 1])
    
    # обратная прогонка
    u1[m][L] = np.cos(phi[m])/np.sqrt(5 - 4*t[n+1])  # ГУ
    for l in range(-(L - 1), 1):
        u1[m][np.fabs(l)] = alpha[l]*u1[m][np.fabs(l) + 1] + beta[l]
    u1[m][0] = 0 # ГУ
    
# вторая прогонка
for l in range(1, L - 1):
    a = np.zeros(M)
    b = np.zeros(M)
    c = np.zeros(M)
    d = np.zeros(M)
    
    b[0] = 1  # a[0] = 0, c[0] = 0
    d[0] = 0  # = u[0][m]
    
    for m in range(1, M + 1):
        a[m] = -(u0[m + 1][l]**mu + u0[m][l]**mu)*tau/(2*r[2*l]**2*h_phi**2)
        c[m] = -(u0[m][l]**mu + u0[m - 1][l]**mu)*tau/(2*r[2*l]**2*h_phi**2)
        b[m] = 1 - a[m] - c[m]
        d[m] = u1[m][l]
    
    # прямая прогонка
    alpha = np.zeros(M)
    beta = np.zeros(M)
    alpha[0] = -c[0]/b[0]
    beta[0] = d[0]/b[0]
    for i in range(1, M - 1):
        alpha[i] = -c[i]/(b[i] + a[i]*alpha[i - 1])
        beta[i] = (d[i] - a[i]*beta[i - 1])/(b[i] + a[i]*alpha[i - 1])
    
    # обратная прогонка
    u2[M][l] = 0 # ГУ
    for l in range(-(L - 1), 0):
        u2[m][np.fabs(l)] = alpha[l]*u2[m][np.fabs(l) + 1] + beta[l]
    u2[0][l] = r[2*l]/np.sqrt(5 - 4*t[n+1]) # ГУ
        
r = np.linspace(0, 1, L + 1)

(11, 11)

In [16]:
for i in range(-10, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0