In [3]:
import numpy as np
import pandas as ps

# подсчет коэффициентов уравнения
g0=5/3
g3=5/3
r0=10
r3=10
u0=-500000
u3=500000
p0=10**9
p3=10**9

c0=(g0*p0/r0)**(1/2)
c3=(g3*p3/r3)**(1/2)
x=p3/p0
b0=(g0+1)/(g0-1)
b3=(g3+1)/(g3-1)
e0=(2*c0**2)/(g0*(g0-1)*(u3-u0)**2)
e3=(2*c3**2)/(g3*(g3-1)*(u3-u0)**2)

a0=(b0*e3-b3*x*e0)**2
a1=2*((b0*e3-b3*x*e0)*(e3*(1-2*b0*x)-e0*x*(x-2*b3))-b0*b3*x*(b0*e3+b3*x*e0))
a2=e3**2 *(6* b0**2 * x**2-8*b0*x+1)-2*e0*e3*x*(b0*b3*(x**2+4*x+1)-2*(x+1)*(b3+b0*x)+x)+(e0*x)**2 *(6*b3**2-8*b3*x+x**2)+(b0*b3*x)**2-2*b0*x*e3*(b0*x-2*b0*b3*x+2*b3)-2*b3*x**2 *e0*(b3+2*b0*x-2*b0*b3)
a3=-2*x*(2*e3**2 * ((b0*x)**2-3*b0*x+1)+e0*e3*((b3+b0*x)*(x**2+4*x+1)-2*b0*b3*x*(x+1)-2*x*(x+1))+2*e0**2 *x*(x**2-3*b3*x+b3**2)-b0*b3*x*(b0*x+b3)+e3*(b0**2 * b3*x**2-2*x*(2*b0*b3+x*b0**2)+(2*b0*x+b3))+e0*x*(b0*b3**2-2*b3*(b3+2*b0*x)+2*b3*x+b0*x**2))
a4=x**2 * (e3**2 * ((b0*x)**2-8*b0*x+6)-2*e0*e3*(b0*b3*x-2*(x+1)*(b3+b0*x)+x**2+4*x+1)+e0**2 * (b3**2-8*b3*x+6*x**2)+(b3**2+4*b0*b3*x+(b0*x)**2)-2*e3*((b0**2 * x+2*b0*b3)*x-2*(2*b0*x+b3)+1)-2*e0*(b3*(2*b0*x+b3)-2*x*(2*b3+b0*x)+x**2))
a5=2*x**3 * (e3**2 * (b0*x-2)-e0*e3*(b0*x-2+b3-2*x)+e0**2 * (b3-2*x)+(b3+b0*x)-e3*(2*b0*x+b3-2)-e0*(2*b3+b0*x-2*x))
a6=x**4*((e3-e0)**2+1-2*(e3+e0))

mas = np.zeros((1,7))
mas[0][:] = [a0,a1,a2,a3,a4,a5,a6]
tab = ps.DataFrame(data=mas, index=np.arange(0,1), columns=np.arange(0,7))
tab.columns = ['a0','a1','a2','a3','a4','a5','a6']
tab.index = ['value']
tab

        a0      a1       a2       a3     a4      a5      a6
value  0.0 -0.0768  256.096  256.024  95.97  15.988  0.9988

Локализация корней

In [2]:
# по следствию из основной теоремы алгебры
a=abs(a6)/(abs(a6)+a2)
b=1+a2/a0
print('Все корни уравнения расположены на отрезке\n[' + str(a) + ',' + str(b) + ']\nВсего либо 1, либо 3 положительных действительных корня')

ZeroDivisionError: float division by zero

In [3]:
# функция и ее производные
def f(Y):
    return a0*Y**6+a1*Y**5+a2*Y**4+a3*Y**3+a4*Y**2+a5*Y+a6
def f1(Y):
    return 6*a0*Y**5+5*a1*Y**4+4*a2*Y**3+3*a3*Y**2+2*a4*Y+a5
def f2(Y):
    return 5*6*a0*Y**4+4*5*a1*Y**3+3*4*a2*Y**2+2*3*a3*Y+2*a4
def f3(Y):
    return 4*5*6*a0*Y**3+3*4*5*a1*Y**2+2*3*4*a2*Y+2*3*a3
def f4(Y):
    return 3*4*5*6*a0*Y**2+2*3*4*5*a1*Y+2*3*4*a2
def f5(Y):
    return 2*3*4*5*6*a0*Y+2*3*4*5*a1
f6 = 2*3*4*5*6*a0

In [4]:
# вспомогательные функции для Th Бюдана-Фурье
def aux_str(b,f):
    array = np.zeros((1,7))
    array[0][:] = [f(b),f1(b),f2(b),f3(b),f4(b),f5(b),f6]
    return array

def aux_point(q,a,b):
    return a + (b-a)/(2**q)
    
def BF(w,a,b):
    a=(abs(a6))/(abs(a6)+a2)
    array = np.zeros((w+1,7))
    array[0][:] = aux_str(b,f)
    i=1
    while i < w+1:
        array[i][:] = aux_str(aux_point(i,a,b),f)
        i+=1
    table = ps.DataFrame(data=array, index=np.arange(0,w+1), columns=np.arange(0,7))
    table.columns = ['f','f1','f2','f3','f4','f5','f6']
    return table

In [5]:
BF(4,a,b)

,f,f1,f2,f3,f4,f5,f6
0,5.611193e+22,4.499077e+19,3.004962e+16,1.605018e+13,6.427225e+09,1.715234e+06,228.794709
1,7.689933e+20,1.264756e+18,1.730070e+15,1.889882e+12,1.545798e+09,8.416275e+05,228.794709
2,8.660253e+18,3.072361e+16,8.966526e+13,2.071794e+11,3.559673e+08,4.048245e+05,228.794709
3,3.122102e+16,4.132808e+14,3.306018e+12,1.865430e+10,7.377254e+07,1.864230e+05,228.794709
4,-2.717758e+15,-2.086519e+13,-7.814021e+10,5.314351e+08,1.085531e+07,7.722222e+04,228.794709

In [6]:
print('при w=4 - на отрезке [' + str(a+(b-a)/2**4) + ',' + str(a+(b-a)/2**3) + '] - 1 корень. С этого момента использую Th Штурма.')

при w=4 - на отрезке [477.28813756552967,954.5752080994421] - 1 корень. С этого момента использую Th Штурма.

In [7]:
# ряд Штурма
def F(Y):
    return a0*Y**6+a1*Y**5+a2*Y**4+a3*Y**3+a4*Y**2+a5*Y+a6
def F1(Y):
    return 6*a0*Y**5+5*a1*Y**4+4*a2*Y**3+3*a3*Y**2+2*a4*Y+a5
def F2(Y):
    return -(F(Y) % F1(Y))
def F3(Y):
    return -(F1(Y) % F2(Y))
def F4(Y):
    return -(F2(Y) % F3(Y))
def F5(Y):
    return -(F3(Y) % F4(Y))
def F6(Y):
    return -(F4(Y) % F5(Y))

In [8]:
def SH(w,a,b):
    array = np.zeros((w+1,7))
    array[0][:] = aux_str(b,F)
    i=1
    while i < w+1:
        array[i][:] = aux_str(aux_point(i,a,b),F)
        i+=1
    table = ps.DataFrame(data=array, index=np.arange(0,w+1), columns=np.arange(0,7))
    table.columns = ['F','F1','F2','F3','F4','F5','F6']
    return table

In [9]:
# видно, что на [4,3] есть корень
SH(4,a,b)

,F,F1,F2,F3,F4,F5,F6
0,5.611193e+22,4.499077e+19,3.004962e+16,1.605018e+13,6.427225e+09,1.715234e+06,228.794709
1,7.689933e+20,1.264756e+18,1.730070e+15,1.889882e+12,1.545798e+09,8.416275e+05,228.794709
2,8.660253e+18,3.072361e+16,8.966526e+13,2.071794e+11,3.559673e+08,4.048245e+05,228.794709
3,3.122102e+16,4.132808e+14,3.306018e+12,1.865430e+10,7.377254e+07,1.864230e+05,228.794709
4,-2.717758e+15,-2.086519e+13,-7.814021e+10,5.314351e+08,1.085531e+07,7.722222e+04,228.794709

In [10]:
# видно, что на [10,9] и на [19,18] по 1 корню
SH(19,a,b)

,F,F1,F2,F3,F4,F5,F6
0,5.611193e+22,4.499077e+19,3.004962e+16,1.605018e+13,6.427225e+09,1.715234e+06,228.794709
1,7.689933e+20,1.264756e+18,1.730070e+15,1.889882e+12,1.545798e+09,8.416275e+05,228.794709
2,8.660253e+18,3.072361e+16,8.966526e+13,2.071794e+11,3.559673e+08,4.048245e+05,228.794709
3,3.122102e+16,4.132808e+14,3.306018e+12,1.865430e+10,7.377254e+07,1.864230e+05,228.794709
4,-2.717758e+15,-2.086519e+13,-7.814021e+10,5.314351e+08,1.085531e+07,7.722222e+04,228.794709
5,-1.396645e+14,-2.713542e+12,-3.985539e+10,-3.784392e+08,-1.058258e+06,2.262185e+04,228.794709
6,-5.032186e+12,-2.073820e+11,-6.705697e+09,-1.559066e+08,-2.128783e+06,-4.678344e+03,228.794709
7,-1.557631e+11,-1.334948e+10,-9.064294e+08,-4.532535e+07,-1.442481e+06,-1.832844e+04,228.794709
8,-4.073301e+09,-7.448237e+08,-1.075173e+08,-1.146257e+07,-7.939380e+05,-2.515349e+04,228.794709
9,-6.340962e+07,-3.039797e+07,-1.047973e+07,-2.545206e+06,-3.933189e+05,-2.856601e+04,228.794709
10,2.663571e+06,4.421549e+05,-4.318119e+05,-4.221655e+05,-1.739225e+05,-3.027227e+04,228.794709
11,4.425397e+05,3.750296e+05,1.966749e+05,1.392787e+04,-5.945248e+04,-3.112540e+04,228.794709
12,4.603608e+04,8.105756e+04,1.011134e+05,7.042820e+04,-1.024552e+03,-3.155197e+04,228.794709
13,5.052158e+03,1.654472e+04,3.928215e+04,5.764308e+04,2.848764e+04,-3.176525e+04,228.794709
14,6.966973e+02,3.953471e+03,1.604568e+04,4.091061e+04,4.331830e+04,-3.187189e+04,228.794709
15,1.302821e+02,1.229695e+03,7.755074e+03,2.994926e+04,5.075227e+04,-3.192521e+04,228.794709
16,3.213928e+01,5.157327e+02,4.618212e+03,2.381855e+04,5.447391e+04,-3.195187e+04,228.794709
17,9.170907e+00,2.852792e+02,3.323992e+03,2.059052e+04,5.633590e+04,-3.196520e+04,228.794709
18,2.187637e+00,1.969508e+02,2.748199e+03,1.893582e+04,5.726718e+04,-3.197187e+04,228.794709
19,-3.991982e-01,1.589007e+02,2.478478e+03,1.809829e+04,5.773290e+04,-3.197520e+04,228.794709

In [11]:
# видно, что на [a,12] корней нет
table = ps.DataFrame(data=aux_str(a,F), index=np.arange(0,1), columns=np.arange(0,7))
table

,0,1,2,3,4,5,6
0,-2.459987,124.690094,2221.005559,17253.981104,58198.662708,-31978.532647,228.794709

In [12]:
print('Таким образом видно, что у уравнения имеется 3 действительный положительныx корня Y1, Y2, Y3, локализованных соответственно на отрезках \n[' + str(a+(b-a)/2**4) + ',' + str(a+(b-a)/2**3) + '],\n[' + str(a+(b-a)/2**10) + ',' + str(a+(b-a)/2**9) + '],\n[' + str(a+(b-a)/2**19) + ',' + str(a+(b-a)/2**18) + '].')

Таким образом видно, что у уравнения имеется 3 действительный положительныx корня Y1, Y2, Y3, локализованных соответственно на отрезках
[477.28813756552967,954.5752080994421],
[7.458677508709629,14.916287985802011],
[0.01563267708031873,0.030198322543389788].

Нахождение локализованных корней методом Ньютона

In [13]:
w11 = aux_point(4,a,b)
w12 = aux_point(3,a,b)
w21 = aux_point(10,a,b)
w22 = aux_point(9,a,b)
w31 = aux_point(19,a,b)
w32 = aux_point(18,a,b)
# расстояние от w11 до 1 корня больше, чем расстояние до 2 корня => чтобы не было ошибок сократим отрезок локализации первого корня
dot = aux_point(1,w11,w12)
w11 = dot
w11

715.9316728324859

In [14]:
# функция, выводящая начальное приблежение на заданном отрезке
def search_point(a,b):
    q = 1
    x0 = aux_point(q,a,b)
    while f(x0)*f2(x0)<0:
        q +=1
        x0 = aux_point(q,a,b)
    return x0

In [15]:
def Newton_method(E,w1,w2):
    s = search_point(w1,w2)  
    t = s - f(s)/f1(s)
    M2 = f2(max(t,s))
    m1 = f1(min(t,s))
    while (M2*(abs(t-s))**2)/(2*m1) > E:
        s = t
        t = t - f(t)/f1(t)
        M2 = f2(max(t,s))
        m1 = f1(min(t,s))
    return t

def answer(E):
    answer_array = [Newton_method(E,w11,w12),Newton_method(E,w21,w22),Newton_method(E,w31,w32)]
    table3 = ps.DataFrame(data=answer_array, index=np.arange(0,3), columns=np.arange(0,1))
    table3.index = ['Y1','Y2','Y3']
    return table3

In [16]:
answer(0.000001)

             0
Y1  829.404451
Y2   10.313536
Y3    0.018097

In [71]:
#найдем скорости ударных волн D0 и D3
Y1 = Newton_method(0.00000001,w11,w12)
Y2 = Newton_method(0.00000001,w21,w22)
Y3 = Newton_method(0.00000001,w31,w32)

p1_1 = p0*Y1
p1_2 = p0*Y2
p1_3 = p0*Y3

u1_10 = u0 - c0*2**(1/2)/(g0*(g0-1))**(1/2) * (Y1-1)/(1 + b0*Y1)**(1/2) 
u1_20 = u0 + c0*2**(1/2)/(g0*(g0-1))**(1/2) * (Y2-1)/(1 + b0*Y2)**(1/2) 
u1_30 = u0 - c0*2**(1/2)/(g0*(g0-1))**(1/2) * (Y3-1)/(1 + b0*Y3)**(1/2) 


u1_1 = u3 - c3*2**(1/2)/(g3*(g3-1))**(1/2) * (Y1-x)/(x*(x+b3*Y1))**(1/2) 
u1_2 = u3 - c3*2**(1/2)/(g3*(g3-1))**(1/2) * (Y2-x)/(x*(x+b3*Y2))**(1/2) 
u1_3 = u3 + c3*2**(1/2)/(g3*(g3-1))**(1/2) * (Y3-x)/(x*(x+b3*Y3))**(1/2)

d0_1 = (p1_1-p0)/(r0*(u1_1-u0)) + u0 
d0_2 = (p1_2-p0)/(r0*(u1_2-u0)) + u0 
d0_3 = (p1_3-p0)/(r0*(u1_3-u0)) + u0 

mah1 = d0_1/c0
mah2 = d0_2/c0
mah3 = d0_3/c0

answer_array = np.zeros((5,3))

#d3 = (p1-p3)/(r3*(u1_plus-u3)) + u3
answer_array[0][:] = [Y1, Y2, Y3]
answer_array[1][:] = [d0_1, d0_2, d0_3]
answer_array[2][:] = [u1_10, u1_20, u1_30]
answer_array[3][:] = [u1_1, u1_2, u1_3]
answer_array[4][:] = [mah1, mah2, mah3]

answer_table = ps.DataFrame(data=answer_array, index=np.arange(0,5), columns=np.arange(0,3))
answer_table.index = ['Корни','D0','U1_0','U1_3','Число Маха']
answer_table.columns = ['Y1', 'Y2', 'Y3']
answer_table

                       Y1            Y2            Y3
Корни          829.404451     10.313536      0.018097
D0         -361524.200354  15421.019778 -28888.969502
U1_0       -276460.395810   2473.699469  -6074.421921
U1_3       -276460.395810   2473.699461  -6074.421921
Число Маха     -27.496965      1.172899     -2.197250